.aboutstyle {
	margin-top: 30px;
	text-align: left;
}

li {
	text-align: left;
}

img	{
	margin-top: 30px; 
}

h1{
	font-family: 'Metamorphous', cursive;
}


#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

body { 
	color: white; 
	text-align: center;
	background-color: rgb(100,100,100);
	font-family: 'Quicksand', cursive;
},



