a {
  text-decoration: none !important;
}

html,body{ 
	width:100%;
	height:100%;
}

.nav {
	text-align: right;
	margin-right: 30px;
}

a:link {
	color: yellow;
}

a:visited {
	color: yellow;
}

a:hover {
  color: white;
}

.aboutstyle {
	margin-top: 30px;
	text-align: center;
}

li {
	text-align: left;
}

img	{
	margin-top: 30px; 
	width: 300px;
	height: auto;
	margin: 10px;
	transition: all; 3s;
}

/*img:hover {
	transform: scale(1.1);
}*/

h1{
	font-family: 'Metamorphous', cursive;
	margin-top: 30px;
}


#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

body { 
	color: white; 
	text-align: center;
	background-color: rgb(0,0,0);
	font-family: 'Quicksand', cursive;
	margin: 30px 20px 0px 20px;
},



