body { 
	font-family: 'Special Elite', cursive;
	text-align: justify-all;
	background-color: yellow;
},

/*.navigation { 
	font-family: 'Special Elite', cursive;
	text-align: right;
	background-color: yellow;
},*/